{
  "extends": "airbnb-base",
  "env": {
    "mocha": true
  },
  "rules": {
    "array-callback-return": "off",
    "block-scoped-var": "off",
    "brace-style": "off",
    "class-methods-use-this": "off",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "functions": "never"
      }
    ],
    "consistent-return": "off",
    "eqeqeq": "off",
    "func-names": "off",
    "guard-for-in": "off",
    "import/newline-after-import": "off",
    "import/no-unresolved": "off",
    "import/order": "off",
    "max-len": "off",
    "no-else-return": "off",
    "no-loop-func": "off",
    "no-param-reassign": "off",
    "no-redeclare": "off",
    "no-restricted-syntax": "off",
    "no-return-assign": "off",
    "no-shadow": "off",
    "no-underscore-dangle": "off",
    "no-var": "off",
    "object-curly-spacing": "off",
    "one-var": "off",
    "one-var-declaration-per-line": "off",
    "prefer-arrow-callback": "off",
    "prefer-destructuring": "off",
    "prefer-rest-params": "off",
    "prefer-spread": "off",
    "prefer-template": "off",
    "valid-typeof": "off",
    "vars-on-top": "off"
  },
  "overrides": [
    {
      "files": "*-test.js",
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ]
}
